* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5;
}

.logo {
  height: 25rem;
  width: 25rem;
  background-color: #fd849d;
}

ul {
  list-style-type: none;
  font-size: 25px;
}

h2 {
  color: #fd849d;
  font-size: 30px;
  font-family: "Roboto";
}

p {
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  margin-top: 1.5rem;
}

#grilla-body {
  display: grid;
  grid-template-areas: "header header header" "productos productos productos" "banner banner banner" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
}

#header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fd849d;
  margin-bottom: 4rem;
}

@media screen and (max-width: 992) {
  #header {
    flex-direction: column;
  }
}
#padre-section {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 0 auto;
  grid-template-areas: "informacion";
  justify-content: center;
  align-items: center;
}

.padre-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
}

@media screen and (max-width: 1300px) {
  .padre-inicio {
    flex-direction: column;
  }
}
.padre-inicio2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .padre-inicio2 {
    flex-direction: column;
  }
}
.hijo-inicio {
  margin-left: 2rem;
}

.hijo-inicio2 {
  margin-right: 2rem;
}

.imagen-imagen {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.color-nav {
  background-color: #fd849d;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

@media screen and (max-width: 654px) {
  #navegacion {
    flex-direction: column;
  }
}
#padre-nutricion {
  display: grid;
  grid-area: productos;
  grid-template-columns: repeat(2, 1fr);
}

.nutricion {
  width: 80%;
  padding-left: 20rem;
}

@media screen and (max-width: 1700px) {
  #padre-nutricion {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  #padre-nutricion {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .nutricion {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-left: 1px;
  }
}
.padre-nutricion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 20rem;
}

.bottom {
  display: flex;
  font-size: 30px;
  border: none;
  background-color: #fd849d;
}

.padre-nutricion li {
  color: black;
  font-size: 25px;
  font-family: sans-serif;
}

#mercado {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-area: productos;
  gap: 2rem;
  margin-top: 4rem;
  
  
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 5px rgb(246, 193, 204);
  background-color: rgb(253,132,157);
}

.card-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 25px;
}
.card-contenedor img {
  width: 250px;
  height: 250px;
}

.card-contenedor h3 {
  font-size: 20px;
}

.card-contenedor p {
  font-size: 25px;
}

#mercado .contenedor-boton {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  border : 5px solid rgb(246, 193, 204); 
  border-radius: 5px ;
  padding: 5px ;
  margin: 5px;
  background-color: rgb(246, 193, 204);
  
}


.verCarrito {
  background-color:rgb(253,132,157) ;
  border: none;
  color: rgb(42, 42, 42);
}




/*banner cards*/
#banner-card {
  grid-area: banner;
  background-color: #fd849d;
  margin-top: 4rem;
  padding: 2rem;
}

#banner-card h2 {
  text-align: center;
}

.padre_banner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

@media screen and (max-width: 992) {
  .padre_banner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .padre_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.banner-caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formulario-contacto {
  color: black;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background-color: #fd849d;
  border-radius: 4px;
  margin: auto;
  width: 50%;
}

.div-formulario {
  text-align: center;
  font-size: 5rem;
}

.input-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 2rem;
  background: none;
  padding: 0.6rem 0.3rem;
  border: none;
  font-size: 1.5rem;
}

.formulario {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-top: 1rem;
  background: #fd849d;
  border: none;
}

@media screen and (max-width: 530px) {
  .formulario {
    font-size: 1rem;
  }
}
@media screen and (max-width: 530px) {
  .input-div {
    flex-direction: row;
    font-size: 1rem;
  }
}
.sobremi {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*footer sass*/
#footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: pink;
  font-size: 1rem;
}
#footer p {
  color: black;
  font-size: 1rem;
  margin-top: 1rem;
}

/*Footer sass*/
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
