
#mercado {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-area: productos;
  gap: 2rem;
  margin-top: 4rem;
  
  
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 5px rgb(246, 193, 204);
  background-color: rgb(253,132,157);
}

.card-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 25px;
}
.card-contenedor img {
  width: 250px;
  height: 250px;
}

.card-contenedor h3 {
  font-size: 20px;
}

.card-contenedor p {
  font-size: 25px;
}

#mercado .contenedor-boton {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  border : 5px solid rgb(246, 193, 204); 
  border-radius: 5px ;
  padding: 5px ;
  margin: 5px;
  background-color: rgb(246, 193, 204);
  
}


.verCarrito {
  background-color:rgb(253,132,157) ;
  border: none;
  color: rgb(42, 42, 42);
}


  /*banner cards*/
  #banner-card {
    grid-area: banner;
    background-color: $fuente-primaria;
    margin-top: 4rem;
    padding: 2rem;
  }
  
  #banner-card h2 {
    text-align: center;
  }
  
  .padre_banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  
  @media screen and (max-width: $pantalla-grande) {
    .padre_banner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: $pantalla-mediana) {
    .padre_banner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .banner-caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }